@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Black Ops One", Arial, Helvetica, sans-serif;
  font-size: 60%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: rgb(168, 146, 23);
}

.box .main-title {
  font-size: 6.5rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  color: #fff;
  letter-spacing: 0.1em;
}

.lightbar {
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
  width: 20px;
  height: 120px;
  border-radius: 20px;
  background: rgb(168, 146, 23);
  z-index: 1;
  box-shadow:
    0 0 20px rgb(92, 39, 4),
    0 0 40px rgb(23, 4, 92),
    0 0 80px rgb(23, 4, 92);
  animation: animatelightbar 6s alternate-reverse infinite;
}

@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }

  10% {
    transform: scaleY(1) translateX(0);
  }

  90% {
    transform: scaleY(1) translateX(calc(550px - 20px));
  }

  95%,
  100% {
    transform: scaleY(0) translateX(calc(550px - 20px));
  }
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table-container {
  font-size: 4rem;
  font-weight: 500;
}

.intro-score {
  display: flex;
  padding-bottom: 4vh;
  gap: 8rem;
}

.score-title {
  font-size: 4rem;
  font-weight: 500;
  color: black;
  letter-spacing: 0.1em;
}

.btn {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  border-radius: 15px;
  padding: 1rem 2rem;
  cursor: pointer;
  letter-spacing: 0.1em;
  background-color: #0972388f;
  border: #e6ece593 solid 0.2rem;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  background-color: rgba(54, 0, 0, 0.527);
  color: rgb(12, 204, 86);
}

.list-scores {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(141, 22, 22);
}

li {
  padding: 10px 20px;
  margin: 5px 0;
  list-style: none;
  display: flex;
  color: black;
  transition: 0.5s;
}

li:nth-child(odd) {
  background-color: rgba(97, 97, 100, 0.89);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
}

input {
  font-size: 2rem;
  border-radius: 6px;
  padding: 1rem;
  color: #d4f3f5;
  background-color: #0511066c;
}

input:focus {
  outline: none;
}

.input-num::-webkit-outer-spin-button,
.input-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: #d4f3f5;
  opacity: 1;
}

.add-btn {
  margin-left: auto;
}
